@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.q-field--outlined .q-field__control {
    border-radius: 10px !important;
    padding: 0 15px;
    background: #fff;
}

.q-btn {
    border-radius: 10px !important;
}

.grabbing * {
    cursor: grabbing !important;
}

* {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--q-primary);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #125598;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}