.q-field--outlined .q-field__control {
    border-radius: 10px !important;
    padding: 0 15px;
    background: #fff;
}

.q-btn {
    border-radius: 10px !important;
}

.grabbing * {
    cursor: grabbing !important;
}